@import './animations/bounce.scss';
@import './animations/flash.scss';
@import './animations/pulse.scss';
@import './animations/rubberBand.scss';
@import './animations/shakeX.scss';
@import './animations/shakeY.scss';
@import './animations/shake.scss';
@import './animations/swing.scss';
@import './animations/tada.scss';
@import './animations/wobble.scss';
@import './animations/jello.scss';
@import './animations/heartBeat.scss';
@import './animations/backInDown.scss';
@import './animations/backInLeft.scss';
@import './animations/backInRight.scss';
@import './animations/backInUp.scss';
@import './animations/backOutDown.scss';
@import './animations/backOutLeft.scss';
@import './animations/backOutRight.scss';
@import './animations/backOutUp.scss';
@import './animations/bounceIn.scss';
@import './animations/bounceInDown.scss';
@import './animations/bounceInLeft.scss';
@import './animations/bounceInRight.scss';
@import './animations/bounceInUp.scss';
@import './animations/bounceOut.scss';
@import './animations/bounceOutDown.scss';
@import './animations/bounceOutLeft.scss';
@import './animations/bounceOutRight.scss';
@import './animations/bounceOutUp.scss';
@import './animations/fadeIn.scss';
@import './animations/fadeInBottomLeft.scss';
@import './animations/fadeInBottomRight.scss';
@import './animations/fadeInDown.scss';
@import './animations/fadeInLeft.scss';
@import './animations/fadeInRight.scss';
@import './animations/fadeInTopLeft.scss';
@import './animations/fadeInTopRight.scss';
@import './animations/fadeInUp.scss';
@import './animations/fadeOut.scss';
@import './animations/fadeOutBottomLeft.scss';
@import './animations/fadeOutBottomRight.scss';
@import './animations/fadeOutDown.scss';
@import './animations/fadeOutLeft.scss';
@import './animations/fadeOutRight.scss';
@import './animations/fadeOutTopLeft.scss';
@import './animations/fadeOutTopRight.scss';
@import './animations/fadeOutUp.scss';
@import './animations/flip.scss';
@import './animations/flipInX.scss';
@import './animations/flipInY.scss';
@import './animations/flipOutX.scss';
@import './animations/flipOutY.scss';


.animate-container {
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  transition: ease-in-out .6s;
  &__opacity-none {
    opacity: 0;
  }

  &__bounce {
    animation-name: bounce;
  }

  &__flash {
    animation-name: flash;
  }

  &__pulse {
    animation-name: pulse;
  }

  &__rubberBand {
    animation-name: rubberBand;
  }

  &__shakeX {
    animation-name: shakeX;
  }

  &__shakeY {
    animation-name: shakeY;
  }

  &__headShake {
    animation-name: shake;
  }

  &__swing {
    animation-name: swing;
  }

  &__tada {
    animation-name: tada;
  }

  &__wobble {
    animation-name: wobble;
  }

  &__jello {
    animation-name: jello;
  }

  &__heartBeat {
    animation-name: heartBeat;
  }

  &__backInDown {
    animation-name: backInDown;
  }

  &__backInLeft {
    animation-name: backInLeft;
  }

  &__backInRight {
    animation-name: backInRight;
  }

  &__backInUp {
    animation-name: backInUp;
  }

  &__backOutDown {
    animation-name: backOutDown;
  }

  &__backOutLeft {
    animation-name: backOutLeft;
  }

  &__backOutRight {
    animation-name: backOutRight;
  }

  &__backOutUp {
    animation-name: backOutUp;
  }

  &__bounceIn {
    animation-name: bounceIn;
  }

  &__bounceInDown {
    animation-name: bounceInDown;
  }

  &__bounceInLeft {
    animation-name: bounceInLeft;
  }

  &__bounceInRight {
    animation-name: bounceInRight;
  }

  &__bounceInUp {
    animation-name: bounceInUp;
  }

  &__bounceOut {
    animation-name: bounceOut;
  }

  &__bounceOutDown {
    animation-name: bounceOutDown;
  }

  &__bounceOutLeft {
    animation-name: bounceOutLeft;
  }

  &__bounceOutRight {
    animation-name: bounceOutRight;
  }

  &__bounceOutUp {
    animation-name: bounceOutUp;
  }

  &__fadeIn {
    animation-name: fadeIn;
  }

  &__fadeInBottomLeft {
    animation-name: fadeInBottomLeft;
  }

  &__fadeInBottomRight {
    animation-name: fadeInBottomRight;
  }

  &__fadeInDown {
    animation-name: fadeInDown;
  }

  &__fadeInLeft {
    animation-name: fadeInLeft;
  }

  &__fadeInRight {
    animation-name: fadeInRight;
  }

  &__fadeInTopLeft {
    animation-name: fadeInTopLeft;
  }

  &__fadeInTopRight {
    animation-name: fadeInTopRight;
  }

  &__fadeInUp {
    animation-name: fadeInUp;
  }

  &__fadeOut {
    animation-name: fadeOut;
  }

  &__fadeOutBottomLeft {
    animation-name: fadeOutBottomLeft;
  }

  &__fadeOutBottomRight {
    animation-name: fadeOutBottomRight;
  }

  &__fadeOutDown {
    animation-name: fadeOutDown;
  }

  &__fadeOutLeft {
    animation-name: fadeOutLeft;
  }

  &__fadeOutRight {
    animation-name: fadeOutRight;
  }

  &__fadeOutTopLeft {
    animation-name: fadeOutTopLeft;
  }

  &__fadeOutTopRight {
    animation-name: fadeOutTopRight;
  }

  &__fadeOutUp {
    animation-name: fadeOutUp;
  }

  &__flip {
    animation-name: flip;
    backface-visibility: visible !important;
  }

  &__flipInX {
    animation-name: flipInX;
    backface-visibility: visible !important;
  }

  &__flipInY {
    animation-name: flipInY;
    backface-visibility: visible !important;
  }

  &__flipOutX {
    animation-name: flipOutX;
    backface-visibility: visible !important;
  }

  &__flipOutY {
    animation-name: flipOutY;
    backface-visibility: visible !important;
  }
}
